.name {
    font-size: 36px;
    color: #fff;
}

.back {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
}

.bold {
    font-weight: bold;
}

.code {
    color: #e16c0d;
}

.italic {
    font-style: italic;
}

.pre {
    background-color: rgb(242, 242, 242);
    padding: 2px 4px;
    margin: 20px 0;
    line-height: 2.3;
    border-radius: 12px;
    overflow: auto;
    color: black;
}

.code_block {
    padding: 20px;
    font-family: monospace;
    display: flex;
    flex-wrap: wrap;
}

.file {
    padding: 2px 4px;
    text-decoration: none;
    color: #fff;
}

.file a {
    color: #fff;
}

.file:hover {
    background: rgba(55, 53, 47, 0.08);
    cursor: pointer;
    border-radius: 2px;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.bookmark {
    display: block;
    margin-bottom: 10px;
}
