.menu {
    margin: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    left: 0;
    top: 0;
    transition: opacity 300ms ease, transform 300ms ease;
}

.menu li {
    transform: translateX(-16px);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease, width 300ms ease,
    border-color 300ms ease;
    width: 0;
    white-space: nowrap;
}

.menuRendered {
    opacity: 1;
}

.menuRendered li {
    @apply w-full;
    transform: translateX(0);
    opacity: 1;
}

.menu > * + * {
    margin-top: 24px;
}

@keyframes grow {
    0% {
        height: 0;
    }
    100% {
        height: 24px;
    }
}